<div class="flex gap-4 justify-center items-center">
  <div class="relative">
    <sef-demo-canvas-grid></sef-demo-canvas-grid>
    <canvas id="canvas" width="562" height="562"
    class="absolute inset-0 z-10 select-none touch-none"
    style="width: 281px; height: 281px;"></canvas>
  </div>
  <div class="debug">Output:
    <canvas
      id="debug-canvas"
      width="28"
      height="28"
      class="w-64 h-64 bg-white border border-red-400"
      style="image-rendering: pixelated;"
    ></canvas>
  </div>
</div>
